.cart_items{
    height: 75vh;
    width: 16vw;
    overflow-y: scroll;
}
.checkout{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; 
}

.clearcart{
    background-color:#242424;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:7px 15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #0f0f0f;
    margin: 10px
}

.total{
    margin-left: 40px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media screen and (max-width: 500px){
    .cart_items{
        width: 60vw;
        height: 70vh;
    }
    
}