.dashboard_main_div{
    height: 100vh;
   overflow-x: hidden; 
   background-color: white;
}

.dashboard_img {
    height: 65vh;
    width: 30vw;
    margin: 10px;
    border-radius: 2%;
    opacity: 1;
    transition: .1s ease;
    backface-visibility: hidden;
}

.dashboard_img:hover {
   padding: 3px 3px;
   border: #000 4px solid;
   opacity: 0.8;
}

.dash_link_text{
    position: relative;
    left: 50%;
    bottom: 225px;
    color: white;
    transition: .1s ease;
    opacity: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 2px 2px #111;

}

.dash_link{
    text-decoration: none;
}